* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Console', serif;
}

.App {
  text-align: center;
  margin: auto;
  width: 700px;
  background: linear-gradient(45deg, #ba5370, #f4e2d8);
  margin-bottom: 20px;
  border-radius: 10px;
}

.allInfo {
  text-align: left;
  margin-top: 40px;
  padding: 20px;
  padding-left: 30px;
  border: 2px solid rgb(74, 12, 133);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  border-radius: 20px;
}

.allInfo ul li {
  list-style: none;
}

.des img {
  display: block;
  text-align: right;
}

.form {
  margin: 20px;
}

.input {
  font-size: 15px;
  padding-left: 10px;
  width: 25%;
  height: 35px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  font-family: FontAwesome;
  background: #f4e2d8;
  margin-bottom: 5px;
}

.btn {
  min-width: 10%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid blueviolet;
  height: 32px;
  font-size: 16px;
  font-family: FontAwesome;
  padding-top: 2px;
  background-color: blueviolet;
  color: white;
}

.button {
  text-align: right;
}
.deleteButton {
  align-self: center;
  background-color: #efefef;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  font-size: 15px;
  color: purple;
}

input::placeholder {
  text-transform: lowercase !important;
}

.forecast,
.back {
  margin-top: 20px;
  background-color: blueviolet;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
}

h2 {
  border: 1px solid blueviolet;
  background-color: blueviolet;
  color: white;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-top: 10px;
  padding: 10px;
}

.h22 {
  border: 1px solid rgb(171, 116, 223);
  background-color: rgb(171, 116, 223);
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 0 0 10px 10px;
  font-size: 15px;
  padding: 5px;
  margin-top: -20px !important;
  margin-bottom: 20px;
}

.forecastPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 700px;
  height: 500px;
}

.forecastChart {
  margin: auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #282c34;
  border-radius: 10px;
}

@media only screen and (max-width: 400px) {
  .allInfo {
    width: 80%;
  }
}
