* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Console', serif;
}
.App {
  text-align: center;

  margin-top: 20px;
}

.allInfo {
  text-align: left;
  text-emphasis: left;
  margin-top: 40px;
  padding: 20px;
  padding-left: 30px;
  border: 2px solid black;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}

.allInfo ul li {
  list-style: none;
}

.des img {
  display: block;
  text-align: right;
}

.form {
  margin: 20px;
}

.input {
  font-size: 15px;
  padding-left: 10px;
  width: 25%;
  height: 35px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  font-family: FontAwesome;
}

.btn {
  font-size: 15px;
  width: 10%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid black;
}

.button {
  text-align: right;
}
.deleteButton {
  align-self: center;
  background-color: #efefef;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  font-size: 15px;
}

input::placeholder {
  text-transform: lowercase !important;
}
